<h1>Dashboard</h1>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total Products</th>
        <th>Category</th>
      </tr>
    </thead>
      
    <thead>
      <tr>
        <th> <%= @products.count %> </th>
        <th> <%=  @category.count %> </th>
      </tr>
    </thead>
  </table>
  
</div>

