// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products.scss";

// Global
body {
  padding-top: 70px;
  background-color: #43444d;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.auth {
  display: flex;
  justify-content: space-evenly;
}

.ohyeah {
  display: flex;
  flex-direction: column;
  
  
}

.ohyeah1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ohyeah1 input {
  margin-top: 10px;
}

.signedin {
  padding: 15px;
}